/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  min-height: 100vh;
  position: relative;
}

header,
.text,
.image {
  grid-column: 2/span 8;
}

header {
  grid-row: 1/span 1;
}

.text {
  grid-row: 3/span 3;
}

.image {
  grid-row: 6/span 5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

nav {
  color: #242635;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #242635;
  position: fixed;
  top: 0;
  z-index: 2;
  right: -100vw;
  height: 100vh;
  width: 100vw;
  transition: transform 0.4s ease-in-out;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  grid-column: 2/span 8;
  grid-row: 3/span 6;
}
nav a {
  transition: all 0.3s ease-in-out;
  color: white;
}
nav a:hover, nav a:focus, nav a:active {
  color: #8d8cee;
}
nav.responsive {
  transform: translateX(-100%);
}

.nav {
  z-index: 9;
  padding: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.nav:hover, .nav:focus, .nav:active {
  background-color: #8d8cee;
}
.nav:hover .nav__btn, .nav:focus .nav__btn, .nav:active .nav__btn {
  color: white;
}
.nav__btn {
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: black;
}
.nav__btn.close {
  color: white;
}
.nav__btn.close:hover, .nav__btn.close:focus, .nav__btn.close:active {
  color: #8d8cee;
}

.logo {
  align-items: center;
  color: #242635;
  display: flex;
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: -0.25px;
  line-height: 36px;
}
.logo a {
  color: #242635;
  text-decoration: none;
}

@media (min-width: 320px) {
  .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #242635;
    margin-bottom: 30px;
  }
  .text h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.8px;
    margin-bottom: 15px;
  }
  .text__paragraph {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-right: auto;
    margin-left: auto;
    max-width: 211px;
  }
  .image {
    background-image: url(/images/soup-mobile.png);
  }
  .arrow {
    display: none;
  }
}
@media (min-width: 375px) {
  .text__paragraph {
    max-width: 280px;
  }
}
@media (min-width: 425px) {
  .text__paragraph {
    font-size: 14px;
    max-width: 300px;
  }
}
@media (min-width: 768px) {
  .nav {
    display: none;
  }
  nav {
    display: inline-block;
    position: static;
    background-color: transparent;
    height: 25px;
    max-width: 303px;
    width: 100%;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 22.4px;
  }
  nav ul a {
    color: #242635;
    transition: all 0.3s ease-in-out;
  }
  nav ul a:hover, nav ul a:focus, nav ul a:active {
    color: #8d8cee;
  }
  .container {
    grid-template-rows: repeat(10, 15%);
  }
  .text {
    margin-bottom: 45px;
  }
  .text h2 {
    font-size: 72px;
    letter-spacing: -1.6px;
    line-height: 82.8px;
    margin-bottom: 23px;
  }
  .text__paragraph {
    font-size: 22px;
    line-height: 33px;
    max-width: 573px;
  }
  .image {
    background-image: url(/images/soup-tablet.png);
    grid-row: 6/span 5;
  }
}
@media (min-width: 1024px) {
  .text {
    grid-row: 2/span 3;
  }
  .text h2 {
    font-size: 60px;
  }
  .text__paragraph {
    max-width: 550px;
    font-size: 20px;
  }
  .image {
    grid-row: 5/span 5;
  }
}
@media (min-width: 1440px) {
  .container {
    grid-template-rows: repeat(10, 10%);
  }
  header {
    grid-row: 1/span 2;
    grid-column: 2/span 3;
  }
  .text {
    grid-column: 2/span 3;
    grid-row: 4/span 4;
    text-align: start;
  }
  .text h2 {
    font-size: 90px;
    line-height: 102px;
    letter-spacing: -2px;
  }
  .text__paragraph {
    font-size: 22px;
    line-height: 33px;
    max-width: 410px;
  }
  .image {
    background-image: url(/images/soup-desktop.png);
    grid-column: 6/span 4;
    grid-row: 2/span 8;
  }
  .arrow {
    display: flex;
    align-items: flex-end;
    grid-column: 2/span 1;
    grid-row: 9/span 1;
  }
  a .arrow__icon {
    font-size: 40px;
    color: #242635;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
  }
  a .arrow__icon:hover, a .arrow__icon:focus, a .arrow__icon:active {
    color: #8d8cee;
  }
}
body {
  background-color: #ffffff;
  font-style: normal;
  width: 100%;
  min-height: 568px;
}

a {
  text-decoration: none;
  color: "Source Sans Pro", sans-serif;
}/*# sourceMappingURL=style.css.map */