@use 'variables';

@media (min-width: 320px) {
    .text {
        grid-row: 1 / span 3;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #242635;
        & h2 {
            font-family: $heading;
            font-weight: 500;
            font-size: 36px;
            line-height: 40px;
            letter-spacing: -0.8px;
            margin-bottom: 15px;
        }
        &__paragraph {
            font-family: $text;
            margin-bottom: 30px;
            font-size: 12px;
            line-height: 18px;
        }
    }

    .image {
        background-image: url(/images/soup-mobile.png);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
    }

    .arrow {
        display: none;
    }
}

@media (min-width: 768px) {
    body {
        min-height: 1024px;
    }
    .text {
        border: 1px solid red;
        grid-row: 4 / span 3;
        & h2 {
            font-size: 72px;
            letter-spacing: -1.6px;
            margin-bottom: 23px;
        }
        &__paragraph {
            font-size: 22px;
            line-height: 33px;
        }
    }
    .image {
        background-image: url(/images/soup-tablet.png);
        grid-row: 7 / span 5;
    }
}

// @media screen and (min-width: 425px) and (max-width: 600px) {
//     .nav {
//         grid-column: 2 / span 8;
//         grid-row: 1 / span 1;
//     }
//     .nav a:not(.nav__logo, .icon) {
//         display: none;
//     }

//     .nav a.icon {
//         display: block;
//         float: right;
//     }

//     .nav .responsive {
//         position: relative;
//         & a {
//             display: block;
//             float: none;
//             text-align: left;
//         }
//     }

//     .text {
//         grid-column: 2 / span 8;
//         grid-row: 3 / span 3;
//         padding-top: 13%;
//         text-align: center;

//         &__title {
//             font-size: 36px;
//             letter-spacing: -0.8px;
//             line-height: 39.6px;
//             margin-bottom: 6%;
//         }
//         &__text {
//             font-size: 12px;
//             font-weight: 400;
//             line-height: 18px;
//             margin-left: auto;
//             margin-right: auto;
//             padding: 1%;
//             width: 80%;
//         }
//     }

//     .image {
//         background-image: url(/images/soup-tablet.png);
//         grid-column: 2 / span 8;
//         grid-row: 7 / span 5;
//     }

//     .arrow {
//         display: none;
//     }
// }

// @media screen and (min-width: 600px) and (max-width: 768px) {
//     .nav {
//         grid-column: 2 / span 8;
//         grid-row: 2 / span 1;
//     }
//     .text {
//         grid-column: 2 / span 8;
//         grid-row: 3 / span 3;
//         padding-top: 13%;
//         text-align: center;

//         &__title {
//             font-size: 42px;
//             letter-spacing: -0.8px;
//             line-height: 39.6px;
//             margin-bottom: 6%;
//         }
//         &__text {
//             font-size: 16px;
//             font-weight: 400;
//             line-height: 18px;
//             margin-left: auto;
//             margin-right: auto;
//             padding: 1%;
//             width: 90%;
//         }
//     }

//     .image {
//         background-image: url(/images/soup-tablet.png);
//         grid-column: 2 / span 8;
//         grid-row: 7 / span 5;
//     }

//     .arrow {
//         display: none;
//     }
// }

// @media screen and (min-width: 768px) and (max-width: 1024px) {
//     .nav {
//         grid-column: 2 / span 8;
//         grid-row: 2 / span 1;
//     }
//     .text {
//         grid-column: 2 / span 8;
//         grid-row: 3 / span 4;
//         padding-top: 13%;
//         text-align: center;

//         &__title {
//             font-size: 42px;
//             letter-spacing: -0.8px;
//             line-height: 42px;
//             margin-bottom: 6%;
//         }
//         &__text {
//             font-size: 16px;
//             font-weight: 400;
//             line-height: 18px;
//             margin-left: auto;
//             margin-right: auto;
//             padding: 1%;
//             width: 90%;
//         }
//     }

//     .image {
//         background-image: url(/images/soup-desktop.png);
//         grid-column: 2 / span 8;
//         grid-row: 7 / span 5;
//     }

//     .arrow {
//         display: none;
//     }
// }

// @media screen and (min-width: 1024px) and (max-width: 1440px) {
//     .nav {
//         align-items: center;
//         color: variables.$font-color;
//         display: flex;
//         font-family: variables.$text;
//         grid-column: 2 / span 4;
//         grid-row: 2 / span 1;
//         justify-content: space-between;
//         overflow: hidden;
//     }

//     .nav a {
//         color: variables.$font-color;
//         display: block;
//         float: left;
//         margin-right: 0 1.5rem 0 0;
//         padding: 0.8rem 1.5rem;
//         text-align: center;
//         text-decoration: none;
//         transition: all 0.2s ease;
//         &:hover,
//         &:active {
//             color: orange;
//         }
//     }

//     a.icon {
//         display: none;
//     }
//     .text {
//         grid-column: 2 / span 4;
//         grid-row: 4 / span 4;
//         padding-top: 13%;
//         text-align: center;

//         &__title {
//             font-size: 42px;
//             letter-spacing: -0.8px;
//             line-height: 42px;
//             margin-bottom: 6%;
//         }
//         &__text {
//             font-size: 16px;
//             font-weight: 400;
//             line-height: 18px;
//             margin-left: auto;
//             margin-right: auto;
//             padding: 1%;
//             width: 90%;
//         }
//     }

//     .image {
//         background-image: url(/images/soup-desktop.png);
//         grid-column: 6 / span 4;
//         grid-row: 2 / span 8;
//     }
//     .arrow {
//         align-items: flex-end;
//         bottom: -2%;
//         display: flex;
//         grid-column: 2 / span 1;
//         grid-row: 9 / span 1;
//         justify-content: center;
//         left: 1%;
//         max-width: 42px;
//         position: relative;
//         visibility: visible;
//         &__icon {
//             color: variables.$arrow;
//             font-size: 58px;
//         }
//     }
// }

// @media screen and (min-width: 1440px) {
//     .nav {
//         grid-column: 2 / span 4;
//         grid-row: 2 / span 1;
//         padding-right: 1.2rem;
//     }
//     .text {
//         grid-column: 2 / span 4;
//         grid-row: 4 / span 4;
//         padding-left: 1.2rem;
//         padding-right: 1.2rem;
//         padding-top: 13%;
//         text-align: center;

//         &__title {
//             font-size: 42px;
//             letter-spacing: -0.8px;
//             line-height: 42px;
//             margin-bottom: 6%;
//         }
//         &__text {
//             font-size: 18px;
//             font-weight: 400;
//             line-height: 20px;
//             margin-left: auto;
//             margin-right: auto;
//             padding: 1%;
//             width: 80%;
//         }
//     }

//     .image {
//         background-image: url(/images/soup-desktop.png);
//         grid-column: 6 / span 4;
//         grid-row: 2 / span 8;
//     }
//     .arrow {
//         align-items: flex-end;
//         bottom: -2%;
//         display: flex;
//         grid-column: 2 / span 1;
//         grid-row: 9 / span 1;
//         justify-content: center;
//         left: 1%;
//         max-width: 42px;
//         position: relative;
//         visibility: visible;
//         &__icon {
//             color: variables.$arrow;
//             font-size: 58px;
//         }
//     }
// }
