@use 'variables';

.logo {
    align-items: center;
    color: variables.$font-color;
    display: flex;
    font-family: variables.$logo;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -0.25px;
    line-height: 36px;
    & a {
        color: variables.$font-color;
        text-decoration: none;
    }
}
