@use 'variables';

.nav {
    align-items: center;
    color: variables.$font-color;
    display: flex;
    font-family: variables.$text;
    justify-content: space-between;
    overflow: hidden;
}

.nav a {
    color: variables.$font-color;
    display: block;
    float: left;
    padding: .8rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    &:hover, &:active {
        color: orange;
    }
}

a.icon {
    display: none;
}
