@use 'variables';

header {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}
nav {
    color: variables.$font-color;
    font-family: variables.$text;
    background-color: #242635;
    position: fixed;
    top: 0;
    z-index: 2;
    right: -100vw;
    // right: 0;
    height: 100vh;
    width: 100vw;
    transition: transform 0.4s ease-in-out;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 3rem;
        grid-column: 2 / span 8;
        grid-row: 3 / span 6;
    }
    & a {
        transition: all 0.3s ease-in-out;
        color: white;
        &:hover,
        &:focus,
        &:active {
            color: #8d8cee;
        }
    }
    &.responsive {
        transform: translateX(-100%);
    }
}

.nav {
    z-index: 9;
    padding: 8px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    &:hover,
    &:focus,
    &:active {
        background-color: #8d8cee;
    }
    &:hover .nav__btn,
    &:focus .nav__btn,
    &:active .nav__btn {
        color: white;
    }
    &__btn {
        transition: all 0.2s ease-in-out;
        background-color: transparent;
        border: none;
        font-size: 22px;
        cursor: pointer;
        color: black;

        &.close {
            color: white;
            &:hover,
            &:focus,
            &:active {
                color: #8d8cee;
            }
        }
    }
}

// .nav a {
//     color: variables.$font-color;
//     display: block;
//     float: left;
//     padding: 0.8rem 1rem;
//     text-align: center;
//     text-decoration: none;
//     transition: all 0.2s ease;
//     &:hover,
//     &:active {
//         color: orange;
//     }
// }
