@media screen and (min-width: 320px) and (max-width: 425px) {
  .nav {
    grid-column: 2/span 8;
    grid-row: 1/span 1;
  }
  .nav a:not(.nav__logo, .icon) {
    display: none;
  }
  .nav a.icon {
    display: block;
    float: right;
  }
  .text {
    grid-column: 2/span 8;
    grid-row: 3/span 3;
    padding-top: 13%;
    text-align: center;
  }
  .text__title {
    font-size: 36px;
    letter-spacing: -0.8px;
    line-height: 39.6px;
    margin-bottom: 6%;
  }
  .text__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 90%;
  }
  .image {
    background-image: url(/images/soup-mobile.png);
    grid-column: 2/span 8;
    grid-row: 6/span 5;
  }
  .arrow {
    display: none;
  }
}
@media screen and (min-width: 425px) and (max-width: 600px) {
  .nav {
    grid-column: 2/span 8;
    grid-row: 1/span 1;
  }
  .nav a:not(.nav__logo, .icon) {
    display: none;
  }
  .nav a.icon {
    display: block;
    float: right;
  }
  .nav .responsive {
    position: relative;
  }
  .nav .responsive a {
    display: block;
    float: none;
    text-align: left;
  }
  .text {
    grid-column: 2/span 8;
    grid-row: 3/span 3;
    padding-top: 13%;
    text-align: center;
  }
  .text__title {
    font-size: 36px;
    letter-spacing: -0.8px;
    line-height: 39.6px;
    margin-bottom: 6%;
  }
  .text__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 80%;
  }
  .image {
    background-image: url(/images/soup-tablet.png);
    grid-column: 2/span 8;
    grid-row: 7/span 5;
  }
  .arrow {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .nav {
    grid-column: 2/span 8;
    grid-row: 2/span 1;
  }
  .text {
    grid-column: 2/span 8;
    grid-row: 3/span 3;
    padding-top: 13%;
    text-align: center;
  }
  .text__title {
    font-size: 42px;
    letter-spacing: -0.8px;
    line-height: 39.6px;
    margin-bottom: 6%;
  }
  .text__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 90%;
  }
  .image {
    background-image: url(/images/soup-tablet.png);
    grid-column: 2/span 8;
    grid-row: 7/span 5;
  }
  .arrow {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    grid-column: 2/span 8;
    grid-row: 2/span 1;
  }
  .text {
    grid-column: 2/span 8;
    grid-row: 3/span 4;
    padding-top: 13%;
    text-align: center;
  }
  .text__title {
    font-size: 42px;
    letter-spacing: -0.8px;
    line-height: 42px;
    margin-bottom: 6%;
  }
  .text__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 90%;
  }
  .image {
    background-image: url(/images/soup-desktop.png);
    grid-column: 2/span 8;
    grid-row: 7/span 5;
  }
  .arrow {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .nav {
    align-items: center;
    color: #242635;
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    grid-column: 2/span 4;
    grid-row: 2/span 1;
    justify-content: space-between;
    overflow: hidden;
  }
  .nav a {
    color: #242635;
    display: block;
    float: left;
    margin-right: 0 1.5rem 0 0;
    padding: 0.8rem 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  .nav a:hover, .nav a:active {
    color: orange;
  }
  a.icon {
    display: none;
  }
  .text {
    grid-column: 2/span 4;
    grid-row: 4/span 4;
    padding-top: 13%;
    text-align: center;
  }
  .text__title {
    font-size: 42px;
    letter-spacing: -0.8px;
    line-height: 42px;
    margin-bottom: 6%;
  }
  .text__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 90%;
  }
  .image {
    background-image: url(/images/soup-desktop.png);
    grid-column: 6/span 4;
    grid-row: 2/span 8;
  }
  .arrow {
    align-items: flex-end;
    bottom: -2%;
    display: flex;
    grid-column: 2/span 1;
    grid-row: 9/span 1;
    justify-content: center;
    left: 1%;
    max-width: 42px;
    position: relative;
    visibility: visible;
  }
  .arrow__icon {
    color: #1C1C1C;
    font-size: 58px;
  }
}
@media screen and (min-width: 1440px) {
  .nav {
    grid-column: 2/span 4;
    grid-row: 2/span 1;
    padding-right: 1.2rem;
  }
  .text {
    grid-column: 2/span 4;
    grid-row: 4/span 4;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 13%;
    text-align: center;
  }
  .text__title {
    font-size: 42px;
    letter-spacing: -0.8px;
    line-height: 42px;
    margin-bottom: 6%;
  }
  .text__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 80%;
  }
  .image {
    background-image: url(/images/soup-desktop.png);
    grid-column: 6/span 4;
    grid-row: 2/span 8;
  }
  .arrow {
    align-items: flex-end;
    bottom: -2%;
    display: flex;
    grid-column: 2/span 1;
    grid-row: 9/span 1;
    justify-content: center;
    left: 1%;
    max-width: 42px;
    position: relative;
    visibility: visible;
  }
  .arrow__icon {
    color: #1C1C1C;
    font-size: 58px;
  }
}
.logo {
  border: 1px solid red;
  align-items: center;
  color: #242635;
  display: flex;
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: -0.25px;
  line-height: 36px;
  max-width: 90px;
  padding-top: 2%;
  width: 100%;
}
.logo a {
  color: #242635;
  text-decoration: none;
}

header {
  display: flex;
  background-color: white;
  align-items: center;
}

nav {
  border: 1px solid black;
  color: #242635;
  font-family: "Source Sans Pro", sans-serif;
  position: fixed;
  top: 0;
  z-index: 2;
  right: -100vw;
  height: 100vh;
  width: 50vw;
}
nav ul {
  display: flex;
  flex-direction: column;
}

.nav {
  border: 1px solid blue;
  position: relative;
}
.nav__btn {
  max-width: 24px;
  width: 100%;
  height: 24px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

a.icon {
  display: none;
}

body {
  background-color: #FFFFFF;
  font-style: normal;
  height: 100vh;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  height: 100vh;
  position: relative;
}

header,
main {
  border: 1px solid red;
  grid-column: 2/span 8;
}

main {
  grid-row: 3/span 8;
}

.text__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.text__text {
  font-family: "Source Sans Pro", sans-serif;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */