@import 'variables';
@import 'breakpoints';
@import 'logo';
@import 'responsive-nav';

body {
    background-color: $background;
    font-style: normal;
    width: 100%;
    min-height: 568px;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    min-height: 100vh;
    position: relative;
}

header,
.text,
.image {
    grid-column: 2 / span 8;
}

header {
    grid-row: 1 / span 1;
}

.text {
    grid-row: 3 / span 3;
}

.image {
    grid-row: 6 / span 5;
}
